body {
  color: #E1643A;
  font-family: 'Degular Regular' !important;
    background-color: #2F1E39;
}

@font-face {
  font-family: "Degular Regular";
  src: url("../../fonts/DegularDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Degular Medium";
  src: url("../../fonts/DegularDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "Degular Bold";
  src: url("../../fonts/DegularDisplay-Bold.woff") format("woff");
}


.container {
  position: relative;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  width: calc(100% - 64px);
  margin: 0 32px;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* pagination */
.slick-dots {
  position: absolute;
  top: 12px;
  left: 50%;
  width: calc(100% - 64px);
  max-width: 450px;
  height: 44px;
  transform: translateX(-50%);
}

.slick-dots li {
  display: block;
  float: left;
  width: calc(20% - 4px);
  margin: 0 4px 0 0;
}
.slick-dots li:last-child {
  margin-right: 0px;
}

.slick-dots li button {
  width: 100%;
  height: 44px;
}
.slick-dots li button:before {
  top: 20px;
  font-family: 'Degular Regular';
  width: 100%;
  height: 4px;
  background: #fff;
  opacity: .24;
  border-radius: 2px;
  transition: all 500ms cubic-bezier(0.1, 0.0, 0.5, 1);
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}

.slick-arrow {
  display: block;
  width: 50%;
  width: 50vw;
  height: calc(100% - 120px);
  height: calc(100vh - 120px);
  z-index: 999;
}
.slick-arrow:before {
  display: none;
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.slick-next {
  top: 50%;
  left: 50%;
}

/* slides */
.slider {
  width: 100vw;
}

.slick-slide {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  text-transform: lowercase;
}

.slider-slide {
  position: relative;
  height: 100vh;
}
.slide-1 {
  color: #E1643A;
  background: #2F1E39;
}
.slide-1 svg path {
  fill: #E1643A;
}
.slide-2 {
  color: #DAD34C;
  background: #755596;
}
.slide-2 svg path {
  fill: #DAD34C;
}
.slide-3 {
  color: #E1643A;
  background: #DAD34C;
}
.slide-3 svg path {
  fill: #E1643A;
}
.slide-4 {
  color: #2F1E39;
  background: #E1643A;
}
.slide-4 svg path {
  fill: #2F1E39;
}
.slide-5 {
  color: #E1643A;
  background: #E5D0E2;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: calc(100% - 64px);
  max-width: 450px;
  height: 100vh;
  padding-top: 140px;
  transform: translate(-50%,-50%);
}
.slide-text span {
  display: block;
}

/* typography */
.report-date {
  font-family: "Degular Medium";
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 110px;
}
.slide-5 .report-date {
  margin-bottom: 48px;
}
.small-title {
  font-family: "Degular Medium";
  font-size: 14px;
  line-height: 21px;
}
.small-stat {
  font-family: "Degular Medium";
  font-size: 38px;
  line-height: 40px;
  margin-top: 6px;
}
.slide-4 .small-stat em {
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
}
.big-stat {
  position: relative;
  font-family: "Degular Regular";
  font-size: 96px;
  line-height: 116px;
}
h2 {
  font-family: "Degular Bold";
  font-size: 32px;
  line-height: 38px;
  margin-top: 0;
}
.record-show {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-style: normal;
  font-family: "Degular Medium";
  font-size: 12px;
  line-height: 12px;
  color: #E1643A;
  /* background: #121212; */
  /* padding: 4px 8px; */
  /* border-radius: 12px; */
}

.record-hide {
  display: none;
}

/* graph */
.graph {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 6px;
  width: 50%;
  height: 240px;
}
.graph span {
  opacity: .24;
  width: 12px;
  height: 230px;
  margin-right: 18px;
}
.graph span:first-of-type {
  margin-right: 0;
}
.graph span.bar-today {
  opacity: 1;
}
.slide-1 .graph span {
  background: #E1643A;
}
.slide-2 .graph span {
  background: #DAD34C;
}
.slide-3 .graph span {
  background: #E1643A;
}
.slide-4 .graph span {
  background: #2F1E39;
}

/* county list */
.county-list {
  padding: 0;
}
.county-list li {
  margin-bottom: 24px;
  list-style-type: none;
}

.county-rank {
  display: block;
  width: 100%;
  font-family: "Degular Regular";
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}
.county-name {
  display: inline-block !important;
  width: calc(100% - 48px);
  font-family: "Degular Bold";
  font-size: 32px;
  line-height: 38px;
  text-align: left;
}
.county-cases {
  display: inline-block !important;
  width: 48px;
  font-family: "Degular Regular";
  font-size: 32px;
  line-height: 38px;
  text-align: right;
}

/* no data warning */
.no-data-show {
  position: absolute;
  background: red;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  background: #121212;
  padding: 12px 24px 16px;
  border-radius: 8px;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  z-index: 9999;
}
.no-data-show span {
  display: block;
  width: 100%;
}

.no-data-hide {
  display: none;
}

.no-data-heading {
  font-family: "Degular Bold";
  font-size: 16px;
  line-height: 21px;
}
.no-data-text {
  font-size: 14px;
  line-height: 16px;
}

/* about button */
.about-button {
  position: absolute;
  z-index:1;
  width: 32px;
  height: 32px;
  left: 80%;
  top: 95%;
}

.about-button:hover {
  cursor: pointer;
}
