body {
  font-family: 'Degular Regular' !important;
    background-color:#F18F4F;
}

@font-face {
  font-family: "Degular Regular";
  src: url("../../fonts/DegularDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "Degular Medium";
  src: url("../../fonts/DegularDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: "Degular Bold";
  src: url("../../fonts/DegularDisplay-Bold.woff") format("woff");
}


.container {
    display: flex;
    justify-content:center;
    align-items:center;
}

.main-text {
    font-size:40pt;
    color:#8A2992;
}
