body {
  color: #E1643A;
  font-family: 'Degular Regular' !important;
    background-color: #2F1E39;
}

@font-face {
  font-family: "Degular Regular";
  src: url("../../fonts/DegularDisplayDemo-Regular.woff") format("woff");
}
@font-face {
  font-family: "Degular Medium";
  src: url("../../fonts/DegularDisplayDemo-Medium.woff") format("woff");
}
@font-face {
  font-family: "Degular Bold";
  src: url("../../fonts/DegularDisplayDemo-Bold.woff") format("woff");
}


.container {
  position: relative;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width: 100%;
}

.main-text {
    font-size:24pt;
    color:#8A2992;
}

.slider {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* pagination */
.slick-dots {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 100%;
  max-width: 450px;
  height: 44px;
  transform: translateX(-50%);
}

.slick-dots li {
  display: block;
  float: left;
  width: calc(20% - 4px);
  margin: 0 4px 0 0;
}
.slick-dots li:last-child {
  margin-right: 0px;
}

.slick-dots li button {
  width: 100%;
  height: 44px;
}
.slick-dots li button:before {
  top: 20px;
  font-family: 'Degular Regular';
  width: 100%;
  height: 4px;
  background: #fff;
  opacity: .24;
  border-radius: 2px;
  transition: all 500ms cubic-bezier(0.1, 0.0, 0.5, 1);
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}

.slick-arrow {
  display: block;
  width: 50%;
  width: 50vw;
  height: calc(100% - 120px);
  height: calc(100vh - 120px);
  z-index: 999;
}
.slick-arrow:before {
  display: none;
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.slick-next {
  top: 50%;
  left: 50%;
}

/* slides */
.slider {
  width: 100vw;
}

.slick-slide {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
  text-transform: lowercase;
}

.slider-slide {
  position: relative;
  height: 100vh;
}
.slide-1 {
  color: #E1643A;
  background: #2F1E39;
}
.slide-2 {
  color: #DAD34C;
  background: #755596;
}
.slide-3 {
  color: #E1643A;
  background: #DAD34C;
}
.slide-4 {
  color: #2F1E39;
  background: #E1643A;
}
.slide-5 {
  color: #E1643A;
  background: #E5D0E2;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 50%;
  height: 100vh;
  padding-top: 140px;
  transform: translate(-50%,-50%);
}
.slide-text span {
  display: block;
}

/* typography */
.report-date {
  font-family: "Degular Medium";
  font-size: 18px;
  line-height: 21px;
}
.small-title {
  font-family: "Degular Medium";
  font-size: 14px;
  line-height: 21px;
}
.small-stat {
  font-family: "Degular Medium";
  font-size: 38px;
  line-height: 46px;
}
.big-stat {
  font-family: "Degular Regular";
  font-size: 96px;
  line-height: 116px;
}
h2 {
  font-family: "Degular Bold";
  font-size: 32px;
  line-height: 38px;
}
